{% extends 'adverts/base.html' %}

{% block content %}
<div class="card-panel grey lighten-5 z-depth-1">
      <div class="row valign-wrapper">
            <div class="product-detail">
                  <div class="col s12 m6 l6">
                        <div class="material-placeholder">
                              <div class="slider">
                                    <ul class="slides">
                                          {% for image in advert.image_set.all %}
                                          <li>
                                                <img src="{{ image.image.url }}" alt="" class="materialboxed" width="400" height="400">
                                          </li>
                                          {% endfor %}
                                    </ul>
                              </div>
                        </div>
                              </div>
                              <div class="col s12 m6 l6">
                                    <h5>{{ advert.title }}</h5>
                                    {% for category in advert.category.all %}
                                    <div class="chip">
                                          {{ category.title }}
                                    </div>
                                    {% endfor %}
                              </div>
                              <div class="col s12 m6 l6">
                                    <span class="product-price"><b>{{ advert.price }} ₽</b></span> 
                                    <p class="product-description">{{ advert.description }}</p>
                              </div>
                        </div>    
                  </div>
            </div>  
      <ul class="collection">
            <li class="collection-item avatar">
                  <img src="{{ advert.user.userprofile.profile_image.url }}" alt="" class="circle">
                  <span class="title">{{ advert.user.username }}</span>
                  <p>{{ advert.user.first_name }} {{ advert.user.last_name }} <br>
                  На сайте с: {{ advert.user.date_joined }}
                  </p>
                  <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
            </li>
      </ul>
</div>
<script>
      document.addEventListener('DOMContentLoaded', function() {
            var slide = document.querySelectorAll('.slider');
            M.Slider.init(slide);
      });
</script>
<script>
      document.addEventListener('DOMContentLoaded', function() {
            var matbox = document.querySelectorAll('.materialboxed');
            M.Materialbox.init(matbox);
  });
</script>

{% endblock %}