<!DOCTYPE html>
<html>
  <head>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>
    <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.1/js/materialize.min.js" integrity="sha256-SrBfGi+Zp2LhAvy9M1bWOCXztRU9Ztztxmu5BcYPcPE=" crossorigin="anonymous"></script>
    <nav>
      <div class="nav-wrapper blue-grey">
        <div class="container">
          <a href="{% url 'advert_list' %}" class="brand-logo"><i class="material-icons">shopping_cart</i>BuyExchange</a>
          <a href="" class="sidenav-trigger show-on-large" data-target="slide_out"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
            <li> <a href="index.html">Home </a></li>
            <li> <a href="services.html">Services </a></li>
            <li> <a href="contact.html">Contact </a></li>
          </ul>
        </div>
      </div>  
    </nav>
    <br>
    <ul class="sidenav" id="slide_out">
      <li><div class="user-view">
        {% if user.is_authenticated %}
        <div class="background">
          <img src="media/image/office.jpg">
        </div>
        <a href="{% url 'user_id' user.id %}"><img class="circle" src="{{ user.userprofile.profile_image.url }}"></a>
        <a><span class="white-text name">{{ user.first_name }} {{ user.last_name }}</span></a>
        <a><span class="white-text email">{{ user.username }}</span></a>
      </div></li>
      <li><a href="{% url 'add_item' %}"><i class="material-icons">shopping_cart</i>Добавить товар</a></li>
      <li><a href="{% url 'user_id' user.id %}"><i class="material-icons">folder</i>Мои товары</a></li>
      <li><div class="divider"></div></li>
      <li><a class="subheader">Аккаунт</a></li>
      <li><a class="waves-effect" href="{% url 'log_out' %}"><i class="material-icons">exit_to_app</i>Выйти</a></li>
      {% else %}
      <li><a href="{% url 'register' %}"><i class="material-icons">cloud</i>Зарегистрироваться</a></li>
      <li><a href="{% url 'login' %}"><i class="material-icons">exit_to_app</i>Войти</a></li>
      {% endif %}
    </ul>
    <div class="container">{% block content %}{% endblock %}</div>
    <div class="fixed-action-btn direction-top"><a class="btn-floating btn-large waves-effect teal accent-4" href="{%url 'add_item'%}"><i class="material-icons">shopping_cart</i></a></div>
    <footer class="page-footer blue-grey">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Footer Content</h5>
            <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Links</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        © 2014 Copyright Text
        <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
      </div>
    </footer>    
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
      <script>   	
        document.addEventListener('DOMContentLoaded', function() {
            var myNav = document.querySelectorAll('.sidenav');
            M.Sidenav.init(myNav, {});
        });
      </script>
  </body>
</html>